<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Document</title>
</head>

<body>
    <div style="display: flex;justify-content: center;">
        <div class="info">
            <h2>Data</h2>
            <p id="date">
                <%= date%>
            </p>
            <h2>Godzina</h2>
            <p id="time">
                <%= time%>
            </p>
            <h2>Ilość osób</h2>
            <p id="people">
                <%= people%>
            </p>
            <h2>Numer klienta</h2>
            <p id="clientNumber">
                <%= clientNumber%>
            </p>
        </div>
    </div>

    <button class="confirm" id="confirm">Potwierdzam</button>
    <button class="reject" id="reject">Odrzucam</button>
    <script type="text/javascript" src="script.js"></script>
</body>

</html>