<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Document</title>
</head>

<body>
    <div class="info">
        <h2>Data</h2>
        <p>
            <%= date%>
        </p>
        <h2>Godzina</h2>
        <p>
            <%= time%>
        </p>
        <h2>Ilość osób</h2>
        <p>
            <%= people%>
        </p>
    </div>

    <button style="
        font-size: 6vw;
        color: white;
        background-color: green;
        margin: 20px;
      " id="confirm ">
      Potwierdzam
    </button>
    <button style="
        font-size: 6vw;
        color: white;

        background-color: red;
        margin: 20px;
      " id="reject">
      Odrzucam
    </button>
</body>

</html>