html,
body {
    width: 100%;
    height: 100%;
}

.buttons {
    display: flex;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parameterTypeText {
    font-size: 20px;
    font-weight: 300;
}

#date,
#people,
#clientNumber,
#time {
    font-size: 25px;
    font-weight: 700;
}